# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- Some of data science tools
- Some simple calculations

some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Matplotlib
3. Seaborn

|Data Science Tools|
|------------------|
|Jupyter|
|R studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#this is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335

## Author:
Narges Zebardast